@import '../../config/breakpoints';

.hero-section {
    margin-bottom: 5.33vh;
    
    .hero-header {
        display: flex;
        justify-content: center;
        .hero-header-title {
            margin: 0;
            z-index: 10;
            position: absolute;
            top: 5.33vh;
            -webkit-user-select: none; /* Safari */        
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* IE10+/Edge */
            user-select: none; /* Standard */
            overflow: hidden;
        }
    }

    .hero-image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        margin: 15vh auto 0 auto;
        padding: 0;
        height: 55.72vh;
        width: 83.59vw;
    }

    .hero-headline {
        position: absolute;
        bottom: 37.75vh;
        right: 3.5vw;
        font-size: 2.1875em;
        width: 640px;
        text-align: right;
        -webkit-user-select: none; /* Safari */        
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
    }

    .cta-container {
        display: flex;
        justify-content: center;
        flex-flow: column nowrap;
        margin-top: 3.4vh;
        align-items: center;
        .cta-arrow {
            align-self: center;
            height: 5.4vh;
            width: auto;
        }
    }
}

.section-header {
    display: flex;        
    justify-content: center;
    align-items: center;

    .section-title{
        margin: 4.31vh 0 10.78vh 0;
    }
}

.project-container { 
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    width: 83.59vw;
    margin: 0 auto 10.78vh auto;

    .text-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 5.2vw;
        flex: 1;

        .btn {
            position: relative;
            display: inline-block;
            padding: 20px 40px;
            margin-right: 20px;
            border: solid #fff;
            background: #171717;
            cursor: pointer;
            font-family: $body-font;
            color: #fff;
            transition: all 0.3s ease 0s;
        }
        .btn:after {
            content: "";
            position: absolute;
            transition: all 0.3s ease 0s;
            z-index: -1;
        }
        .btn:hover,
        .btn:active {
            color: #171717;
            background-color: #fff;
        }
    }

    .project-image {
        flex: 1;
        width: 44.27vw;
    }

    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        margin: 0;
        padding: 0;
        width: 44.27vw;
        height: 60.35vh;

        .profile {
            flex-shrink: 0;
            width: 100%;
            min-height: 100%;
        }
    }
}


.reverse {
    flex-direction: row-reverse;

    .text-container {
        margin-right: 0;
        margin-left: 100px;
    }
}

.social-links-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    margin-top: 50px;
    width: 400px;
}

.no-margin {
    margin-right: 0 !important; 
}

.center { 
    display: flex;
    justify-content: center;
    align-items: center;
}