@import '../../config/breakpoints';

.navigation {
    width: 93.3vw;
    // margin-left: auto;
    // margin-right: auto;
    margin: 1em auto 0 auto;
    display: flex;
    align-items: center;
    
    .nav-link-container {
        min-width: 24.2vw;
        display: flex;
        justify-content: space-around;

        .nav-link {
            margin-left: 2em;
            cursor: pointer;
            z-index: 100;
        }
    }

    .hamburguer {
        background-color: transparent;
        border: 0;
        color: #fff;
        font-size: 30px;
        display: none;
    }

    .hamburguer:focus {
        outline: none;
    }



    .clock-container {
        position: absolute;
        right: 55px;
        display: flex;

        .clock {
            margin: 0 !important;
        }
    }
}

@include media("<=540px") {
    .navigation {
        justify-content: space-between;
        .nav-link-container {
            display: none;
        }

        .hamburguer {
            display: block;
        }
    }
}